@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
* {
  margin: 0;
  padding: 0;
}
.display-flex {
  display: flex;
}

/* dark 01 */
.text-black {
  color: #131313;
}
/* dark 02 */
.text-grey {
  color: #424242;
}
/* dark 03 */
.text-light-grey {
  color: #727272;
}
.text-orange {
  color: #ff900e;
}
/* background color */
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

/* primary button */
.btn-primary {
  background-color: #ff900e;
  color: #ffffff;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.25rem;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}
.section-title {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 24px;
}
.section-description {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 542px;
}
.text-center {
  text-align: center;
}
/* header styles */

/* navbar related styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 102px;
}
.brand {
  font-weight: 700;
  font-size: 2.8rem;
}
.nav-item {
  list-style: none;
  margin-right: 60px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner styles */
.banner-content {
  max-width: 870px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 25px;
}
.banner-description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 32px;
}
.banner-image {
  width: 100%;
  margin-bottom: 130px;
}
/* Main section */

/* Team section */
.teams {
  align-items: center;
}
.team-pictures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.feature-section {
  margin-left: 73px;
  max-width: 537px;
}

#quick-list {
  font-weight: 500;
}
#feature-description {
  margin-bottom: 32px;
}
/* Features will enjoy section */
#feature-section-title {
  border-left: 5px solid #ff900e;
  padding-left: 21px;
}
#feature-section-description {
  margin-bottom: 30px;
}
.feature-card .feature-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.feature-card {
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}
.feature-img {
  width: 100%;
}
.features-section {
  display: flex;
  gap: 150px;
}
#experience-badge {
  padding: 45px 42px;
  font-size: 1.56rem;
  font-weight: 500;
  margin-left: -92px;
  margin-top: -123px;
}
#experience-year {
  font-weight: 700;
  font-size: 4.06rem;
}
/* Some facts section */
#facts-description {
  margin-bottom: 100px;
}
/* Fact container section */
.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 50px;
}
.fact-card {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fact-number {
  font-weight: 600;
  font-size: 2.8rem;
  margin-top: 10px;
  margin-bottom: 5px;
}
.fact-name {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 5px;
}
/* Sponsor Section */
#sponsor-description {
  margin: 0 auto;
  margin-bottom: 50px;
}
.sponsor-img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-img > img {
  width: 166px;
  height: 50px;
  filter: grayscale(100%); /* Want to convert pictures to grey */
}
/* Footer section */
footer {
  max-width: 1440px;
  margin: 130px auto 216px auto;
  padding: 39px 0;
  background-color: #fff4e7;
}
.footer-section {
  font-size: 1.25rem;
  text-align: center;
}
/* Responsive Media Query */
/* smaller device */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams,
  .features-section {
    flex-direction: column;
  }
  .team-pictures,
  .fact-container,
  .sponsor-img {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 40px;
  }
  .fact-container {
    justify-items: center;
    margin-left: 0px;
    gap: 24px;
  }
  .sponsor-img {
    justify-items: center;
    gap: 60px;
  }
  .feature-section {
    margin: 0 20px 0 20px;
    text-align: center;
  }

  .section-title,
  .section-description {
    text-align: center;
  }
  #facts-description {
    margin-bottom: 50px;
  }
  .banner-image {
    margin-bottom: 50px;
  }
  .features-section {
    gap: 0px;
    margin: 50px 20px 0 20px;
  }
  .features-section .section-description {
    text-align: left;
  }
  #experience-badge {
    margin: 20px 0 20px 0;
  }
  main > section {
    margin-top: 50px;
  }
}

/* medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .teams,
  .features-section {
    flex-direction: column;
  }
  .team-pictures {
    margin-bottom: 70px;
  }
  .feature-section {
    margin: 0 20px 0 20px;
    text-align: center;
  }
  .section-title,
  .section-description {
    text-align: center;
  }
  #facts-description {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .fact-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-left: 0px;
    gap: 24px;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
  }
  .sponsor-img {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 50px;
  }
  .features-section {
    gap: 0px;
    margin: 50px 20px 0 20px;
  }
  .features-section .section-description {
    text-align: left;
  }
  .features-section .section-title {
    text-align: left;
  }
  #experience-badge {
    margin: 20px 0 0 0;
  }
}
